<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="debug" default="true" />
  <arg name="mass" default="$(optenv UAV_MASS)"/>
  <arg name="world_file" default="$(find mrs_main)/config/world_current.yaml"/>

  <group ns="$(arg uav_name)">
    <!-- This launch file is for F550 -->

    <arg name="config_path" default="$(find penn_controller)/config_f550"/>

    <!-- Topic for new odometry -->
    <arg name="mrs_odometry" default="mrs_odometry/new_odom"/>
    <arg name="rc_in" default="mavros/rc/in"/>

    <param name="mass" type="double" value="$(arg mass)"/>

    <rosparam file="$(arg config_path)/params.yaml"/>
    <rosparam file="$(arg config_path)/so3_control.yaml"/>

    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

    <!-- Trackers_manager nodelet-->
    <node pkg="nodelet" type="nodelet" name="trackers_manager" args="load trackers_manager/TrackersManager standalone_nodelet" output="screen">

      <param name="debug" type="bool" value="$(arg debug)"/>

      <rosparam file="$(arg config_path)/trackers_manager.yaml" />
      <rosparam file="$(find realsense_d435)/config/mpc_tracker.yaml" />
      <rosparam file="$(arg world_file)" />

      <param name="uav_name" value="$(arg uav_name)" />
      <param name="predicted_trajectory_topic" value="trackers_manager/mpc_tracker/predicted_trajectory" />

      <remap from="~/mpc_tracker/rc_in" to="$(arg rc_in)" />
      <remap from="~odom" to="$(arg mrs_odometry)"/>
      <remap from="~cmd" to="position_cmd"/>
      <remap from="~output_data" to="quad_decode_msg/output_data"/>

    </node>

    <!-- SO3_control nodelet-->
    <node pkg="nodelet" type="nodelet" args="load so3_control/SO3ControlNodelet standalone_nodelet" name="so3_control" required="true" output="screen">
      <param name="mass" type="double" value="$(arg mass)"/>
      <rosparam file="$(arg config_path)/so3_control.yaml"/>
      <remap from="~odom" to="$(arg mrs_odometry)"/>
      <remap from="~position_cmd" to="position_cmd"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~motors" to="motors"/>
      <remap from="~set_mass" to="set_mass"/>
    </node>

    <node pkg="so3_control"
      type="gains_filter"
      name="gains_filter"
      output="screen">
      <remap from="~so3_control/set_parameters" to="so3_control/set_parameters"/>
      <param name="update_rate" value="5"/>
      <param name="kp_max_rate" value="1.5"/>
      <param name="kd_max_rate" value="1.5"/>
      <param name="ki_max_rate" value="0.001"/>
      <param name="kib_max_rate" value="0.001"/>
    </node>

    <!-- MAV-manager nodelet nodelet-->
    <node pkg="mav_manager" type="mav_manager_node" name="mav_manager_node" output="screen">
      <rosparam file="$(arg config_path)/mav_manager.yaml" />
      <remap from="odom" to="$(arg mrs_odometry)"/>
    </node>

    <!-- Coeficients of dynamics of the drone -->
    <arg name="kf" default="1"/>
    <arg name="lin_cof_a" default="0.15369"/>
    <arg name="lin_int_b" default="-0.23977"/>
    <arg name="num_props" default="1"/>

    <!-- This node provides a communication interface between so3_control and mavros -->
    <node pkg="nodelet" type="nodelet" args="standalone mavros_interface/MavrosInterface" name="mavros_interface" required="true" clear_params="true" output="screen">
      <param name="kf" value="$(arg kf)"/>
      <param name="lin_cof_a" value="$(arg lin_cof_a)"/>
      <param name="lin_int_b" value="$(arg lin_int_b)"/>
      <param name="num_props" value="$(arg num_props)"/>
      <param name="convert_mavros_odom" value="true" />

      <remap from="~odom" to="$(arg mrs_odometry)"/>
      <remap from="~so3_cmd" to="so3_cmd"/>
      <remap from="~imu" to="mavros/imu/data" />
      <remap from="~attitude_raw" to="mavros/setpoint_raw/attitude" />
      <remap from="~mavros/local_position/odom" to="mavros/local_position/odom"/>

    </node>

  </group>

</launch>
