<launch>
  <arg name="uav_name"            default="$(optenv UAV_NAME uav)"/>
  <arg name="serial_no_camera1"    			default="$(optenv REALSENSE_SERIAL_NUM0 036322250835)"/> 			<!-- Note: Run the script find_realsenses.sh to find the RealSense serial numbers -->
  <arg name="serial_no_camera2"    			default="$(optenv REALSENSE_SERIAL_NUM1 036322250835)"/>
  <arg name="camera1"              			default="up_rgbd"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              			default="down_rgbd"/>		<!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <arg name="initial_reset"             default="false"/>

    <include file="$(find realsense_d435)/launch/includes/uav_building.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="namespace"           default="up_rgbd"/>
      <arg name="manager"             default="realsense2_camera_manager_up"/>
    </include>

    <include file="$(find realsense_d435)/launch/includes/uav_building.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="namespace"           default="down_rgbd"/>
      <arg name="manager"             default="realsense2_camera_manager_down"/>
    </include>

</launch>
