[submodule "realsense"]
	path = realsense
	url = https://github.com/intel-ros/realsense.git 
[submodule "ros_packages/realsense"]
	path = ros_packages/realsense
	url = https://github.com/intel-ros/realsense.git
