<launch>
  <arg name="uav_name"           default="$(optenv UAV_NAME uav)"/>
  <arg name="fcu_frame" default="fcu_$(arg uav_name)"/>
  <arg name="sensor_frame" default="color_realsense_$(arg uav_name)"/>
  <arg name="sensor_base_link" default="camera_realsense"/>
  <arg name="sensor_frame_origin" default="$(arg sensor_frame)_origin"/>
  <arg name="world_origin" default="local_origin"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_origin2_local_origin" args="0.23 0.0 -0.06 0.0 0.0 0.0 $(arg world_origin) $(arg sensor_frame_origin)" />
  
  <node name="realsense_base_link_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.23 0 -0.06 0.0 0.0 0.0 $(arg fcu_frame) $(arg sensor_base_link)" />
  <node name="realsense_color_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.0 -0.046 0.004 1.57 3.14 1.57 $(arg sensor_base_link) camera_realsense_color" />
  <node name="realsense_ir1_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.0 -0.06 0.004 0.0 0.0 0.0 $(arg sensor_base_link) camera_realsense_ired1" />
  <node name="realsense_ir2_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.0 0.01 0.004 0.0 0.0 0.0 $(arg sensor_base_link) camera_realsense_ired2" />
  <node name="realsense_depth_tf_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0.0 -0.06 0.004 0 0 0 $(arg sensor_base_link) camera_realsense_depth" />

</launch>
